/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/database/seeds/profile_photos
/storage/app
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
public/js/vue.js
public/css/app.css
package-lock.json
composer.lock
